DB_CONNECTION_STRING="Host=localhost;Port=5432;Database=YourDatabase;Username=YourUser;Password=YourPassword;CommandTimeout=300;"
GoogleAnalyticsSettings__PropertyId="528755744"
GoogleAnalyticsSettings__CredentialsFilePath="C:\etc\erdemden\ga4-service-account.json"
